lab1/presentation/main.aux 
lab1/presentation/main.log 
lab1/presentation/main.nav 
lab1/presentation/main.out 
lab1/presentation/main.snm 
lab1/presentation/main.synctex.gz 
lab1/presentation/main.toc

lab1/tex/main.aux 
lab1/tex/main.log 
lab1/tex/main.nav 
lab1/tex/main.out 
lab1/tex/main.snm 
lab1/tex/main.synctex.gz 
lab1/tex/main.toc
